@import "~bootstrap/scss/bootstrap";

.app-container {
  padding: 16px;
}

.btn-default {
  min-width: 150px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 0px;
}

.list-group-item:first-child {
  display: block;
}